name: Controllo ortografico file latex

on:
  pull_request:
    paths:
      - '**/*.tex'
jobs:
  controllo_grammaticale:
    if: startsWith(github.head_ref, 'feature/')
    runs-on: ubuntu-latest
    env:
        GH_TOKEN: ${{ secrets.ACCESS_TOKEN }}
    steps:
        - name: Clona repository
          run: |  
            gh repo clone ${{ github.repositoryUrl }}

        - name: Installa aspell
          run: |
            sudo apt-get install aspell
            sudo apt-get install aspell-it

        - name: Installa python
          run: |
            sudo apt-get install python3

        - name: Controllo grammaticale
          run: |
            python3 .github/workflows/dipendenze/controlloOrtografico.py 
          working-directory: sorgenti

        - name: Aggiunge alla pr il commento con errori
          run: |
            gh pr comment ${{ github.event.pull_request.number }} -F errori.md
          working-directory: sorgenti
