name: Pubblicazione dei documenti LaTeX compilati

on:
    push: 
        branches:
          - main
        paths:
          - '**/*.tex'
    
jobs:
    pubblicazione_compilati:
      env: 
        DIRS_TO_IGNORE: ${{vars.DIRS_TO_IGNORE}}
        DIRS_TO_DEL: ${{vars.DIRS_TO_DEL}}
          
      runs-on: ubuntu-latest
      steps:
        - name: Clona la repository dei documenti sorgenti
          uses: actions/checkout@v4
          with:
            path: src

        - name: Clona la repository dei documenti compilati
          uses: actions/checkout@v4
          with:
            repository: ALT-F4-eng/Documentazione
            path: dst
            token: ${{ secrets.PAT_ALT_F4 }}
        
        - name: Seleziona i documenti da compilare
          id: setup_tex
          run: |
                echo "TEX_PATH<<EOF" >> $GITHUB_OUTPUT
                echo "$(find -type f -name "*.tex" | grep -v $(echo ${DIRS_TO_IGNORE} ${DIRS_TO_DEL}| sed 's/ /\\|/g'))" >> $GITHUB_OUTPUT
                echo "EOF" >> $GITHUB_OUTPUT
              
        - name: Compila i documenti
          uses: xu-cheng/latex-action@v3
          with:
            work_in_root_file_dir: true
            root_file: |
                ${{ steps.setup_tex.outputs.TEX_PATH }}
          env:
            TEXINPUTS: "/home/runner/work/SorgentiDocumentazione/SorgentiDocumentazione/src/Packages:"
  
        - name: Rimuove file inutili in src
          run: |
              cd src
              rm -rf $DIRS_TO_DEL
              find * -type f ! -name "*.pdf" -delete
              for dir in */; do
                files_child=$(ls -A "$dir")
                files_n=$(echo "$files_child" | wc -l)

                if [ $files_n -eq 1 ]; then
                        mv "$dir/$files_child" "./"
                fi
              done
              cd ..
            
        - name: Copia le cartelle da ignorare
          run: |
              i=0
              for d in $DIRS_TO_IGNORE; do
                dest_dirs=$(find ./dst -type d -name "*${d}")
                src_dirs=($(find ./src -type d -name "*${d}"))
                for dest_dir in $dest_dirs; do
                    cp -rf $dest_dir "${src_dirs[$i]}/.."
                    i=$((i + 1)) 
                done
              done
          
        - name: Copia i documenti nella repo di destinazione
          run: cp -r src/* dst
        
        - name: Commit dei documenti compilati
          uses: EndBug/add-and-commit@v9
          with:
            committer_email: altf4.eng@gmail.com
            committer_name: altf4
            cwd: dst
